
*{
    box-sizing: border-box;
}


.table{
    position: relative;
    box-sizing: content-box;

    width: 480px;
    height: 480px;
    padding: 2.8em;
    border: 1px lightslategrey solid;
    border-radius: 2em;

    background-color: lightcoral;
}
.game{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    top: 2.8em;
    left: 2.8em;

    width: 480px;
    height: 480px;


    background-color: lightgreen;
}
.casilla{
    position: relative;
    width: 60px;
    height: 60px;
}

.casilla--black{
    background-color: lightslategray;

}

.casilla--white{
    background-color: seashell;
}

.casilla--posiblemove::after{
    display: block;
    content: " ";
    position:absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
/* margin: 15px auto; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    background-color: rgba(0, 255, 10, 0.44);
}
.casilla--killeable{
    background-color: salmon;
}
div img{
    position: relative;
    z-index: 100;
}
.letters{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    height: 2.8em;

    background-color: inherit;

}
.letters--up{
    top: 0;
    left: 2.8em;
    
}
.letters--down{
    bottom: 0;
    left: 2.8em;
    
}
.letter{
    text-align: center;
    font-size: 1.5rem;
    width: 60px;
    height: 2.8rem;
    color: lightseagreen;
}

.numbers{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 2.8em;
    height: max-content;

    background-color: inherit;
}
.numbers--right{
    top: 2.8em;
    right: 0;
}
.numbers--left{
    top: 2.8em;
    left: 0;

}
.number{
    text-align: center;
    font-size: 1.5rem;
    width: 2.8rem;
    height: 60px;
    color: lightseagreen;
}