
*{
    box-sizing: border-box;
}


.table{
    position: relative;
    box-sizing: content-box;

    width: 480px;
    height: 480px;
    padding: 2.8em;
    border: 1px lightslategrey solid;
    border-radius: 2em;


    background-color: lightcoral;
}
.game{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 2.8em;
    left: 2.8em;

    width: 480px;
    height: 480px;


    background-color: lightgreen;
}
.casilla{
    position: relative;
    width: 60px;
    height: 60px;
}

.casilla--black{
    background-color: lightslategray;

}

.casilla--white{
    background-color: seashell;
}

.casilla--posiblemove::after{
    display: block;
    content: " ";
    position:absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
/* margin: 15px auto; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
    background-color: rgba(0, 255, 10, 0.44);
}
.casilla--killeable{
    background-color: salmon;
}
div img{
    position: relative;
    z-index: 100;
}